# /etc/systemd/system/casino-cluster-provision.timer
[Unit]
Description=Daily Casino K3s Cluster Provision
Requires=casino-cluster-provision.service

[Timer]
OnCalendar=*-*-* 02:00:00 UTC
Persistent=true
RandomizedDelaySec=0

[Install]
WantedBy=timers.target
