[defaults]
remote_user = ansible
host_key_checking = false
inventory = inventories
deprecation_warnings = False
callback_whitelist = profile_tasks
forks = 100
timeout = 30
allow_world_readable_tmpfiles = True
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=~/.ssh/%C  -o PreferredAuthentications=publickey
