[defaults]
remote_user = ansible
host_key_checking = false
inventory = inventories
remote_tmp = ~/.ansible/tmp

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
